@inject ProductService ProductService

<h3 class="text-primary">Lista de Precios</h3>

@if (products != null && products.Any())
{
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Producto</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>
                            <button class="btn btn-primary btn-sm"
                                    @onclick="() => AddToTicket(product)">
                                Agregar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No hay productos disponibles.</p>
}

@code {
    [Parameter] public List<Product> products { get; set; } = new();
    [Parameter] public EventCallback<Product> OnProductAdded { get; set; }

    private async Task AddToTicket(Product product)
    {
        await OnProductAdded.InvokeAsync(product);
    }
}
