@page "/counter"
@rendermode InteractiveServer
@inject ProductService ProductService

<PageTitle>Gestión de Pedidos Inteligentes</PageTitle>

<h1 class="text-primary">Gestión de Tickets</h1>

<section class="container-fluid">
    <div class="row">
        @if (errorMessage != null)
        {
            <div class="alert alert-danger mt-2 p-2">@errorMessage</div>
        }

        <!-- Order Processing Component -->
        <div class="col-lg-4 col-md-6 mb-3">
            <OrderProcessor Products="@Products" OnOrderProcessed="HandleOrderProcessed"></OrderProcessor>
            <ProductList Products="@Products" OnProductAdded="HandleProductAdded"></ProductList>
        </div>
        <!-- Ticket Section Component -->
        
        <TicketSection Ticket="@ticket"></TicketSection>
    </div>
</section>

@code {
    public List<Product> Products { get; set; } = new();
    private List<Product> ticket = new();
    private string? errorMessage = null;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Products = await ProductService.GetProductsAsync();
        }
        catch (Exception ex)
        {
            errorMessage = $"Error al cargar los productos: {ex.Message}";
        }
    }

    private void HandleOrderProcessed(List<Product> selectedProducts)
    {
        ticket.AddRange(selectedProducts);
    }

    private void HandleProductAdded(Product product)
    {
        ticket.Add(product);
    }
}
