<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">
            <img src="/favicon.png" alt="VHouse Logo" />
            <div class="brand-text">
                <label>Entienda Vegana</label>
                <small>VHouse Pro</small>
            </div>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i>
                <span>Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="customers">
                <i class="fas fa-users"></i>
                <span>Clientes</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <i class="fas fa-shopping-cart"></i>
                <span>Pedidos</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="orders">
                <i class="fas fa-clipboard-list"></i>
                <span>Órdenes</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="product">
                <i class="fas fa-box"></i>
                <span>Productos</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="analytics">
                <i class="fas fa-chart-line"></i>
                <span>Analytics</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="infrastructure">
                <i class="fas fa-cloud"></i>
                <span>Infrastructure</span>
            </NavLink>
        </div>
    </nav>
</div>

