<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="./" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/VHouse.css" />
    <link rel="stylesheet" href="css/home-dashboard.css" />
    <link rel="stylesheet" href="css/pos-orders.css" />
    <link rel="stylesheet" href="css/analytics-dashboard.css" />
    <link rel="stylesheet" href="css/infrastructure-dashboard.css" />
    <link rel="stylesheet" href="css/ai-dashboard.css" />
    <link rel="stylesheet" href="css/enterprise-dashboard.css" />
    <link rel="stylesheet" href="css/customers.css" />
    <link rel="stylesheet" href="css/animations.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.js"></script>
    <script src="js/analytics-charts.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
